<nav class="navbar navbar-light ">
  <div class="container d-flex flex-column flex-md-row justify-content-between">
     <a class="navbar-brand" href="/"><img src="/assets/webalo-white.png"></a>
     <form class="form-inline my-2 my-lg-0">
      <div class="form-group">
        <select class="form-control" id="exampleFormControlSelect1">
          <option selected>Agenda For</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>    
    </form>
   
  </div>

  </nav>
  <main role="main" class="flex-shrink-0">
    <router-outlet></router-outlet>
  </main>